{:paths ["dev"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.github.nextjournal/clerk {:git/sha "f752aea8f68c02f7a21b5de7172b781a7982595c"}

        com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}        
        sicmutils/sicmutils {:mvn/version "0.20.0"}}
 
 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:index "book.clj"}
                               :main-opts ["-m" "babashka.cli.exec"]
                               :extra-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
                                            org.babashka/cli {:mvn/version "0.4.37"}}}
           :clerk/bump {:exec-fn builder/copy-book!}}}
